body {
	background-color: #282828;
}
.area-title {
    padding-top: 360px;
    padding-bottom: 400px;
}
.txt-1 {
	color: #682fff;
	font-family: 'Montserrat';
	font-weight: bold;
}
.thumb-entry {
	color: #72a8ff;
	font-family: Montserrat;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	padding-bottom: 25px;

}
.thumb-desc {
	color: #eeeeee;
	font-family: Chivo;
	font-size: 24px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.thumb-container{
	padding-top: 80px;
	max-width: 1400px;
}

.about-title {
	color: #ff5900;
	font-family: Montserrat;
	font-weight: bold;
	text-align: left;
	font-size: 40px;
	padding-left: 20px;
	padding-bottom: 15px;
}
.para-intro {
	color: #ff5900;
	text-decoration: underline;
}



