body {
	background-color: #282828;
}
.area-title {
    padding-top: 200px;
    padding-bottom: 200px;
}
.txt-1 {
	color: #682fff;
	font-family: 'Montserrat';
	font-weight: bold;
}

.thumb-header {
    color: #
}
